* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    /* margin-top: 150px;
    margin-bottom: 100px; */
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    font-size: 32px;
    cursor: pointer;
    /* color: white;
    background-color: black; */
}

/* button:hover {
    background-color: white;
}

button:active {
    background-color: black;
    color: white;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container [id="reset"] {
    cursor: pointer;
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
    font-size: 32px;
}